<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="AnswerFile" value="C:\Data\LAS_Study_2_Adopt_New_Workflow\Q45_Key\Q45_Key.xlsx" />
      <add key="InputFilesDir" value="C:\Data\LAS_Study_2_Adopt_New_Workflow\Q45" />
      <add key="ColToCheck" value="A" />
      <add key="ColStartIndex" value="2" />
      <add key="ColEndIndex" value="78" />
      <add key="ErrorFile" value="..\..\..\output\Q45 ErrorLog.txt" />
      <add key="SummaryFile" value="..\..\..\output\Q45 Summary.csv" />
      <add key="DetailedFile" value="..\..\..\output\Q45 Detailed Result.csv" />
      <add key="RemoveNamePrefix" value="C:\Data\LAS_Study_2_Adopt_New_Workflow\" />
    </appSettings>    
</configuration>